body {
   
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #769bd0;
    color:#2F3D40;
   
}

#title{
    color: white;
    text-shadow: 1px 1px 2px #B4BEC9;
}


.box {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    background-color:#F3F6F3;
    font-size: 20px;
    margin: 20px auto;
    margin-top: 40px;
}

input[type="number"] {
    width: 80px;
    margin-left: 10px;
    padding-left: 5px;
    font-size: 18px;
     border:solid #ccc;
     border-radius: 10px;
     color:#2F3D40;
   
}

input[type="text"] {
    width: 150px;
    margin-left: 10px;
    padding-left: 5px;
    font-size: 18px;
    border:solid #ccc;
    border-radius: 10px;
    color:#2F3D40;
}


#Passwordlength{
    display: flex;
}

input[type="checkbox"]{
     width: 15px;
     height: 15px;
     margin: 0;
     padding: 0;
}

input[type="checkbox"] + span {
  margin-left: 10px;
}

.btnGroup{
    display: flex;
    justify-content: center;
}

#generateBtn {
    padding: 10px 20px;
    font-size: 14px;
    background-color:#FFB30D;
    border-radius: 5px;
    font-weight: 600;
    margin: 5px;
    border: 2px solid #bc891c;
}

#generateBtn:hover{
    border: 2px solid white;
}

#regenerateBtn{
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
    background-color: #9FC131;
    border: 2px solid #71900d;
    margin: 5px;
}

#regenerateBtn:hover{
    border: 2px solid white;
}

#resetBtn{
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;   
    background-color: #fde047;
    border: 2px solid #eab308;
    margin: 5px;
}

#resetBtn:hover{
    border: 2px solid white;
}

#copyBtn{
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;   
    background-color: #bdddcf;
    border: 2px solid #90c5b2;
    margin-top: 20px;
    color:#1a3a32;
}

#copyBtn:hover{
    border: 2px solid white;
}

.PasswordRule{
    display: flex;
    flex-direction: column;
}

#rule{
    display: inline;
    margin-top: 10px;
}

.excludeRule{
    margin-top: 10px;
}

#exclude{
    margin-top: 10px;
}

.result{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#password{
    width: 250px;
    height: 30px;
    text-align: center;
    font-weight: 600;
}